= content_for :page_title do
  Wordpress Posts

= render "form"

.panel.panel-default
  .panel-heading
    Wordpress Posts
  .panel-body
    .dataTable_wrapper
      %table#dataTables-example.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Title
            - if @current_user.admin?
              %th Author
            %th Date
            - if @current_user.admin?
              %th Users
              %th Page Views
            %th Page Views Per User
            %th Average Time On Page
            %th Facebook Posts
            %th Last Facebook Post
            %th Earnings
        %tbody
          = render partial: "wordpress_post", collection: @wordpress_posts, as: :wordpress_post
    = render partial: "shared/pagination", locals: {collection: @wordpress_posts}
